@tailwind base;
@tailwind components;
@tailwind utilities;

.blend-overlay {
  mix-blend-mode: overlay; /* Atur mode blending menjadi overlay */
}

.popup-animation {
  animation: popup 0.3s ease forwards;
}

.popup-animation-close {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(100%);
}

@keyframes popup {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.swiper-custom {
  --swiper-pagination-color: #fff;
  --swiper-navigation-color: #fff;
  --swioer-pagination-size: 1px;
}

h1.ignore-darkmode {
  color: white !important;
  background: linear-gradient(to bottom, #ffffff, #999999);
  background-clip: text;
  color: transparent;
}

@media (prefers-color-scheme: dark) {
  h1.ignore-darkmode {
    color: white !important;
    background: linear-gradient(to bottom, #ffffff, #999999);
    background-clip: text;
    color: transparent;
  }
}
